In [3]:
# Select, from, where

'''
SELECT
    trip_id,
    duraton
FROM
    trips
WHERE
    duration >= 500 
ORDER BY duration DESC




SELECT    
    *
FROM    
    stations
WHERE    
    station_id = 84 




SELECT   
    MinTemperatureF
FROM
    weather
WHERE
    ZIP = 94301 AND
    Events like 'Rain'
'''

"\nSELECT\n    trip_id,\n    duraton\nFROM\n    trips\nWHERE\n    duration >= 500 \nORDER BY duration DESC\n\n\n\n\nSELECT    \n    *\nFROM    \n    stations\nWHERE    \n    station_id = 84 \n\n\n\nSELECT   \n    MinTemperatureF\nFROM\n    weather\nWHERE\n    ZIP = 94301 AND\n    Events like 'Rain'\n"

In [7]:
# Aggregates and groups

'''
SELECT
    ZIP,
    MAX(MaxTemperatureF) max_temp
FROM
    weather
GROUP by 1

ZIP: 94063 
Max: 134




SELECT
    start_station,
    COUNT(*) station_count
FROM
    trips
GROUP by 1




SELECT
    trip_id,
    MIN(duration) min_duration
FROM
    trips

trip_id: 921019
min_duration: 100




SELECT
    end_station,
    AVG(duration) avg_duration
FROM
    trips
GROUP BY 1
'''

'\nSELECT\n    ZIP,\n    MAX(MaxTemperatureF) max_temp\nFROM\n    weather\nGROUP by 1\n\nZIP: 94063 \nMax: 134\n\n\n\n\nSELECT\n    start_station,\n    COUNT(*) station_count\nFROM\n    trips\nGROUP by 1\n\n\n\n\nSELECT\n    trip_id,\n    MIN(duration) min_duration\nFROM\n    trips\n\ntrip_id: 921019\nmin_duration: 100\n\n\n\n\nSELECT\n    end_station,\n    AVG(duration) avg_duration\nFROM\n    trips\nGROUP BY 1\n'