In [3]:
# Select, from, where

'''
(1)
SELECT
    trip_id,
    CAST(duration as INTEGER) duration
FROM
    trips
WHERE
    duration > 500 
ORDER BY 2 DESC


(2)
SELECT    
    *
FROM    
    stations
WHERE    
    station_id = 84 


(3)
SELECT   
    MinTemperatureF
FROM
    weather
WHERE
    ZIP = 94301 AND
    Events like 'Rain'
'''

"\nSELECT\n    trip_id,\n    duraton\nFROM\n    trips\nWHERE\n    duration >= 500 \nORDER BY duration DESC\n\n\n\n\nSELECT    \n    *\nFROM    \n    stations\nWHERE    \n    station_id = 84 \n\n\n\nSELECT   \n    MinTemperatureF\nFROM\n    weather\nWHERE\n    ZIP = 94301 AND\n    Events like 'Rain'\n"

In [7]:
# Aggregates and groups

'''
(1)
SELECT
    ZIP,
    MAX(MaxTemperatureF) max_temp
FROM
    weather


(2)
SELECT
    start_station,
    COUNT(*) station_count
FROM
    trips
GROUP by 1


(3)
SELECT
    trip_id,
    MIN(CAST(duration as INTEGER)) min_duration
FROM
    trips


(4)
SELECT
    end_station,
    AVG(CAST(duration as INTEGER)) avg_duration
FROM
    trips
GROUP BY 1
'''

'\nSELECT\n    ZIP,\n    MAX(MaxTemperatureF) max_temp\nFROM\n    weather\nGROUP by 1\n\nZIP: 94063 \nMax: 134\n\n\n\n\nSELECT\n    start_station,\n    COUNT(*) station_count\nFROM\n    trips\nGROUP by 1\n\n\n\n\nSELECT\n    trip_id,\n    MIN(duration) min_duration\nFROM\n    trips\n\ntrip_id: 921019\nmin_duration: 100\n\n\n\n\nSELECT\n    end_station,\n    AVG(duration) avg_duration\nFROM\n    trips\nGROUP BY 1\n'

In [1]:
# Joins and CTEs

'''
(1)
WITH
    trip_rain
AS (
    SELECT
        date
    FROM
        weather
    WHERE
        events like 'rain'
    GROUP BY 1
)
SELECT
    trip_id,
    CAST(duration as INTEGER) duration,
    DATE(start_date) trip_date
FROM
    trips
JOIN
    trip_rain
ON
    trip_rain.date = trip_date
ORDER BY 2 DESC
LIMIT 3



(2)
SELECT
    status.station_id,
    stations.name,
    COUNT(CASE WHEN bikes_available = 0 THEN 1 END) empty_count
FROM
    status
JOIN
    stations
ON
    status.station_id = stations.station_id
GROUP BY 1
ORDER BY 3 DESC



(3)
SELECT
    trips.start_station,
    COUNT(start_station) trip_count,
    stations.dockcount
FROM
    trips
JOIN
    stations
ON
    trips.start_station = stations.name
GROUP BY 1
ORDER BY 3 DESC



(4.1)
WITH 
    event_rain 
AS( 
    SELECT 
        date
    FROM 
        weather
    WHERE events like 'Rain'
    GROUP BY 1
),
    rainy_trips 
AS(
    SELECT
        trip_id,
        CAST(duration as INTEGER) duration,
        DATE(start_date) trip_date
    FROM 
        trips
    JOIN 
        event_rain
    ON 
        event_rain.date = trip_date
)
SELECT 
    trip_id,
    trip_date,
    max(duration)
FROM 
    rainy_trips
GROUP BY 2


(4.2)
WITH 
    event_rain 
AS( 
    SELECT 
        date
    FROM 
        weather
    WHERE events like 'Rain'
    GROUP BY 1
)
SELECT
    trip_id,
    DATE(start_date) trip_date,
    MAX(CAST(duration as INTEGER)) duration
FROM 
    trips
JOIN 
    event_rain
ON 
    event_rain.date = trip_date
GROUP BY 2
'''

"\n1)\nSELECT\n    trips.trip_id,\n    trips.duration,\n    trips.zip_code\nFROM\n    trips \nJOIN\n    weather\nON\n    trips.zip_code = weather.zip\nWHERE\n    Events = 'Rain'\nORDER BY duration DESC\nLIMIT 3\n\n\n\nWITH\n    longest_trip_rain\nAS (\n    SELECT\n        zip\n    FROM\n        weather\n    WHERE\n        events = 'rain'\n)\nSELECT\n    trip_id,\n    duration,\n    zip_code\nFROM\n    trips\nJOIN\n    longest_trip_rain\nON\n    longest_trip_rain.zip = trips.zip_code\nORDER BY duration DESC\nLIMIT 3\n\n\n\n2)\nSELECT\n    status.station_id,\n    stations.name,\n    COUNT(CASE WHEN bikes_available = 0 THEN 1 END) as empty_count\nFROM\n    status\nJOIN\n    stations\nON\n    status.station_id = stations.station_id\nGROUP BY status.station_id\nORDER BY empty_count DESC\n\n\n\n3)\nSELECT\n    trips.start_station,\n    COUNT(start_station) as station_count,\n    stations.dockcount\nFROM\n    trips\nJOIN\n    stations\nON\n    trips.start_station = stations.name\nGROUP BY trips.start_station\nORDER BY stations.dockcount DESC\n\n"